
/* Typography 18px
font family Barlow 600, Fraunces 700, 900 */

/* Layout
-- Mobile: 375px
--Desktop: 1440px
 */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');


:root {
    /* Primay colors */
    --darkCyan: hsl(167, 40%, 24%); 
    --darkGreen: hsl(198, 62%, 26%);
    --darkModCyan: hsl(168, 34%, 41%);

    /* Neutral colors */
    --veryDarkCyan: hsl(212,27%, 19%);
    --veryDarkBlue: hsl(213, 9%, 39%);
    --darkBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
}

body{
    font-family: "Barlow";
}

.f-f-700,
.f-f-900{
    font-family: "Fraunces";
}

.f-f-700{
    font-weight: 700;
}

.f-f-900{
    font-weight: 900;
}

.dark-blue{
    color: var(--darkBlue);
}

.greyish-blue{
    color: var(--grayishBlue);
}

.verydarkblue{
    color: var(--veryDarkBlue);
}

.verydarkcyan{
    color: var(--veryDarkCyan);
}

.darkcyan{
    color: var(--darkCyan);
}

.darkgreen{
    color: var(--darkGreen);
}

.darkmodcyan {
    color: var(--darkModCyan);
}